# Day4_Pandas_Exploration.ipynb
# Content: Pandas Data Exploration & Handling Missing Data

---

## Step 1: Import Libraries

In [1]:
import pandas as pd
import numpy as np

## Step 2: Load IMDB Dataset

In [2]:
imdb_df = pd.read_csv("/content/imdb_top_1000.csv")

## Step 3: Inspect the Dataset

In [3]:
print("First 5 rows:\n", imdb_df.head())
print("\nLast 5 rows:\n", imdb_df.tail())
print("\nShape of dataset:", imdb_df.shape)
print("\nColumn names:", imdb_df.columns)
print("\nInfo:")
print(imdb_df.info())
print("\nSummary statistics:\n", imdb_df.describe())

First 5 rows:
                                          Poster_Link  \
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...

               Series_Title Released_Year Certificate  Runtime  \
0  The Shawshank Redemption          1994           A  142 min
1             The Godfather          1972           A  175 min
2           The Dark Knight          2008          UA  152 min
3    The Godfather: Part II          1974           A  202 min
4              12 Angry Men          1957           U   96 min

                  Genre  IMDB_Rating  \
0                 Drama          9.3
1          Crime, Drama          9.2
2  Action, Crime, Drama          9.0
3          Crime, Drama          9.0
4          Crime, Drama          9.0

                                            Overview  Meta_score  \
0  Two imprisoned men bond over a number of years...        80.0
1  An organized crime dynasty's aging patriarch t...       100.0
2  When the menace known as the Joker wreaks havo...        84.0
3  The early life and career of Vito Corleone in ...        90.0
4  A jury holdout attempts to prevent a miscarria...        96.0

               Director           Star1           Star2          Star3  \
0        Frank Darabont     Tim Robbins  Morgan Freeman     Bob Gunton
1  Francis Ford Coppola   Marlon Brando       Al Pacino     James Caan
2     Christopher Nolan  Christian Bale    Heath Ledger  Aaron Eckhart
3  Francis Ford Coppola       Al Pacino  Robert De Niro  Robert Duvall
4          Sidney Lumet     Henry Fonda     Lee J. Cobb  Martin Balsam

            Star4  No_of_Votes        Gross
0  William Sadler      2343110   28,341,469
1    Diane Keaton      1620367  134,966,411
2   Michael Caine      2303232  534,858,444
3    Diane Keaton      1129952   57,300,000
4    John Fiedler       689845    4,360,000

Last 5 rows:
                                            Poster_Link  \
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

               Series_Title Released_Year Certificate  Runtime  \
995  Breakfast at Tiffany's          1961           A  115 min
996                   Giant          1956           G  201 min
997   From Here to Eternity          1953      Passed  118 min
998                Lifeboat          1944         NaN   97 min
999            The 39 Steps          1935         NaN   86 min

                        Genre  IMDB_Rating  \
995    Comedy, Drama, Romance          7.6
996            Drama, Western          7.6
997       Drama, Romance, War          7.6
998                Drama, War          7.6
999  Crime, Mystery, Thriller          7.6

                                              Overview  Meta_score  \
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

             Director              Star1              Star2           Star3  \
995     Blake Edwards     Audrey Hepburn     George Peppard   Patricia Neal
996    George Stevens   Elizabeth Taylor        Rock Hudson      James Dean
997    Fred Zinnemann     Burt Lancaster   Montgomery Clift    Deborah Kerr
998  Alfred Hitchcock  Tallulah Bankhead        John Hodiak   Walter Slezak
999  Alfred Hitchcock       Robert Donat  Madeleine Carroll  Lucie Mannheim

              Star4  No_of_Votes       Gross
995     Buddy Ebsen       166544         NaN
996   Carroll Baker        34075         NaN
997      Donna Reed        43374  30,500,000
998  William Bendix        26471         NaN
999  Godfrey Tearle        51853         NaN

Shape of dataset: (1000, 16)

Column names: Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB
None

Summary statistics:
        IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

## Step 4: Handling Missing Data

In [6]:
missing_values = imdb_df.isnull().sum()
print("\nMissing values per column:\n", missing_values)

# Option 1: Drop rows with missing values
imdb_cleaned_drop = imdb_df.dropna()
print("\nAfter dropping missing rows, shape:", imdb_cleaned_drop.shape)

# Option 2: Fill missing values (example: fill 'IMDB_Rating' missing with 0)
imdb_filled = imdb_df.copy()
imdb_filled['IMDB_Rating'] = imdb_filled['IMDB_Rating'].fillna(0)
print("\nAfter filling missing ratings with 0:\n", imdb_filled['IMDB_Rating'].head())

Missing values per column:
 Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

After dropping missing rows, shape: (714, 16)

After filling missing ratings with 0:
 0    9.3
1    9.2
2    9.0
3    9.0
4    9.0
Name: IMDB_Rating, dtype: float64

## Step 5: Selecting and Filtering Data

In [9]:
ratings = imdb_df['IMDB_Rating']
print("\nRatings column:\n", ratings.head())

# Select multiple columns
subset = imdb_df[['Series_Title', 'Genre', 'IMDB_Rating']]
print("\nSubset of columns:\n", subset.head())

# Filter rows: movies with rating > 8
high_rated = imdb_df[imdb_df['IMDB_Rating'] > 8]
print("\nMovies with rating > 8:\n", high_rated.head())

# Filter by year: movies after 2015
numeric_years = pd.to_numeric(imdb_df['Released_Year'], errors='coerce')
recent_movies = imdb_df[numeric_years.notna() & (numeric_years > 2015)]
print("\nMovies released after 2015:\n", recent_movies.head())

Ratings column:
 0    9.3
1    9.2
2    9.0
3    9.0
4    9.0
Name: IMDB_Rating, dtype: float64

Subset of columns:
                Series_Title                 Genre  IMDB_Rating
0  The Shawshank Redemption                 Drama          9.3
1             The Godfather          Crime, Drama          9.2
2           The Dark Knight  Action, Crime, Drama          9.0
3    The Godfather: Part II          Crime, Drama          9.0
4              12 Angry Men          Crime, Drama          9.0

Movies with rating > 8:
                                          Poster_Link  \
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...

               Series_Title Released_Year Certificate  Runtime  \
0  The Shawshank Redemption          1994           A  142 min
1             The Godfather          1972           A  175 min
2           The Dark Knight          2008          UA  152 min
3    The Godfather: Part II          1974           A  202 min
4              12 Angry Men          1957           U   96 min

                  Genre  IMDB_Rating  \
0                 Drama          9.3
1          Crime, Drama          9.2
2  Action, Crime, Drama          9.0
3          Crime, Drama          9.0
4          Crime, Drama          9.0

                                            Overview  Meta_score  \
0  Two imprisoned men bond over a number of years...        80.0
1  An organized crime dynasty's aging patriarch t...       100.0
2  When the menace known as the Joker wreaks havo...        84.0
3  The early life and career of Vito Corleone in ...        90.0
4  A jury holdout attempts to prevent a miscarria...        96.0

               Director           Star1           Star2          Star3  \
0        Frank Darabont     Tim Robbins  Morgan Freeman     Bob Gunton
1  Francis Ford Coppola   Marlon Brando       Al Pacino     James Caan
2     Christopher Nolan  Christian Bale    Heath Ledger  Aaron Eckhart
3  Francis Ford Coppola       Al Pacino  Robert De Niro  Robert Duvall
4          Sidney Lumet     Henry Fonda     Lee J. Cobb  Martin Balsam

            Star4  No_of_Votes        Gross
0  William Sadler      2343110   28,341,469
1    Diane Keaton      1620367  134,966,411
2   Michael Caine      2303232  534,858,444
3    Diane Keaton      1129952   57,300,000
4    John Fiedler       689845    4,360,000

Movies released after 2015:
                                           Poster_Link     Series_Title  \
18  https://m.media-amazon.com/images/M/MV5BNjViNW...         Hamilton
19  https://m.media-amazon.com/images/M/MV5BYWZjMj...     Gisaengchung
20  https://m.media-amazon.com/images/M/MV5BOTc2ZT...  Soorarai Pottru
33  https://m.media-amazon.com/images/M/MV5BNGVjNW...            Joker
53  https://m.media-amazon.com/images/M/MV5BMmExNz...       Capharnaüm

   Released_Year Certificate  Runtime                      Genre  IMDB_Rating  \
18          2020       PG-13  160 min  Biography, Drama, History          8.6
19          2019           A  132 min    Comedy, Drama, Thriller          8.6
20          2020           U  153 min                      Drama          8.6
33          2019           A  122 min     Crime, Drama, Thriller          8.5
53          2018           A  126 min                      Drama          8.4

                                             Overview  Meta_score  \
18  The real life of one of America's foremost fou...        90.0
19  Greed and class discrimination threaten the ne...        96.0
20  Nedumaaran Rajangam "Maara" sets out to make t...         NaN
33  In Gotham City, mentally troubled comedian Art...        59.0
53  While serving a five-year sentence for a viole...        75.0

         Director               Star1              Star2  \
18    Thomas Kail  Lin-Manuel Miranda       Phillipa Soo
19   Bong Joon Ho        Kang-ho Song       Lee Sun-kyun
20  Sudha Kongara              Suriya           Madhavan
33  Todd Phillips     Joaquin Phoenix     Robert De Niro
53  Nadine Labaki      Zain Al Rafeea  Yordanos Shiferaw

                          Star3                   Star4  No_of_Votes  \
18              Leslie Odom Jr.  Renée Elise Goldsberry        55291
19                Cho Yeo-jeong            Choi Woo-sik       552778
20                 Paresh Rawal       Aparna Balamurali        54995
33                  Zazie Beetz          Frances Conroy       939252
53  Boluwatife Treasure Bankole        Kawsar Al Haddad        62635

          Gross
18          NaN
19   53,367,844
20          NaN
33  335,451,311
53    1,661,096

## Step 6: Grouping and Aggregation

In [12]:
# Average rating per genre
avg_rating_genre = imdb_df.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False)
print("\nAverage rating per genre:\n", avg_rating_genre)

# Count of movies per genre
count_per_genre = imdb_df['Genre'].value_counts()
print("\nNumber of movies per genre:\n", count_per_genre)

Average rating per genre:
 Genre
Animation, Drama, War         8.50
Action, Sci-Fi                8.40
Drama, Musical                8.40
Drama, Mystery, War           8.35
Western                       8.35
                              ...
Action, Adventure, Mystery    7.60
Action, Adventure, Family     7.60
Action, Adventure, Crime      7.60
Animation, Drama, Romance     7.60
Drama, War, Western           7.60
Name: IMDB_Rating, Length: 202, dtype: float64

Number of movies per genre:
 Genre
Drama                        85
Drama, Romance               37
Comedy, Drama                35
Comedy, Drama, Romance       31
Action, Crime, Drama         30
                             ..
Action, Adventure, Family     1
Action, Crime, Mystery        1
Animation, Drama, Romance     1
Drama, War, Western           1
Adventure, Comedy, War        1
Name: count, Length: 202, dtype: int64

## Step 7: Practice / Exercises

In [13]:
# 1. Find top 10 highest rated movies
top_10 = imdb_df.sort_values('IMDB_Rating', ascending=False).head(10)
print("\nTop 10 highest rated movies:\n", top_10[['Series_Title', 'IMDB_Rating', 'Genre']])

# 2. Filter movies with missing 'Genre' and fill it as 'Unknown'
imdb_df['Genre'].fillna('Unknown', inplace=True)
print("\nMovies with filled missing Genre:\n", imdb_df['Genre'].head())

# 3. Filter movies with Rating > 7 and Year after 2010
numeric_years = pd.to_numeric(imdb_df['Released_Year'], errors='coerce')
filtered_movies = imdb_df[(imdb_df['IMDB_Rating'] > 7) & (numeric_years > 2010)]
print("\nMovies with Rating > 7 and Year > 2010:\n", filtered_movies.head())

Top 10 highest rated movies:
                                      Series_Title  IMDB_Rating  \
0                        The Shawshank Redemption          9.3
1                                   The Godfather          9.2
4                                    12 Angry Men          9.0
2                                 The Dark Knight          9.0
3                          The Godfather: Part II          9.0
5   The Lord of the Rings: The Return of the King          8.9
7                                Schindler's List          8.9
6                                    Pulp Fiction          8.9
8                                       Inception          8.8
12                Il buono, il brutto, il cattivo          8.8

                        Genre
0                       Drama
1                Crime, Drama
4                Crime, Drama
2        Action, Crime, Drama
3                Crime, Drama
5    Action, Adventure, Drama
7   Biography, Drama, History
6                Crime, Drama
8   Action, Adventure, Sci-Fi
12                    Western

Movies with filled missing Genre:
 0                   Drama
1            Crime, Drama
2    Action, Crime, Drama
3            Crime, Drama
4            Crime, Drama
Name: Genre, dtype: object

Movies with Rating > 7 and Year > 2010:
                                           Poster_Link     Series_Title  \
18  https://m.media-amazon.com/images/M/MV5BNjViNW...         Hamilton
19  https://m.media-amazon.com/images/M/MV5BYWZjMj...     Gisaengchung
20  https://m.media-amazon.com/images/M/MV5BOTc2ZT...  Soorarai Pottru
21  https://m.media-amazon.com/images/M/MV5BZjdkOT...     Interstellar
33  https://m.media-amazon.com/images/M/MV5BNGVjNW...            Joker

   Released_Year Certificate  Runtime                      Genre  IMDB_Rating  \
18          2020       PG-13  160 min  Biography, Drama, History          8.6
19          2019           A  132 min    Comedy, Drama, Thriller          8.6
20          2020           U  153 min                      Drama          8.6
21          2014          UA  169 min   Adventure, Drama, Sci-Fi          8.6
33          2019           A  122 min     Crime, Drama, Thriller          8.5

                                             Overview  Meta_score  \
18  The real life of one of America's foremost fou...        90.0
19  Greed and class discrimination threaten the ne...        96.0
20  Nedumaaran Rajangam "Maara" sets out to make t...         NaN
21  A team of explorers travel through a wormhole ...        74.0
33  In Gotham City, mentally troubled comedian Art...        59.0

             Director                Star1           Star2             Star3  \
18        Thomas Kail   Lin-Manuel Miranda    Phillipa Soo   Leslie Odom Jr.
19       Bong Joon Ho         Kang-ho Song    Lee Sun-kyun     Cho Yeo-jeong
20      Sudha Kongara               Suriya        Madhavan      Paresh Rawal
21  Christopher Nolan  Matthew McConaughey   Anne Hathaway  Jessica Chastain
33      Todd Phillips      Joaquin Phoenix  Robert De Niro       Zazie Beetz

                     Star4  No_of_Votes        Gross
18  Renée Elise Goldsberry        55291          NaN
19            Choi Woo-sik       552778   53,367,844
20       Aparna Balamurali        54995          NaN
21           Mackenzie Foy      1512360  188,020,017
33          Frances Conroy       939252  335,451,311